@model Supabase.Gotrue.User;

@{
ViewData["Title"] = "Profile";
}

<section class="container">
    <div class="row">
        <div class="col-3">
            <nav class="list-group">
                <a asp-controller="Home" asp-action="Profile" asp-area="" class="list-group-item list-group-item-action active">Public profile</a>
                <a asp-controller="Home" asp-action="MyProducts" class="list-group-item list-group-item-action">Products</a>
                <a asp-controller="Home" asp-action="MyOrders" class="list-group-item list-group-item-action">Orders</a>
                <a asp-controller="Home" asp-action="CustomerOrders" class="list-group-item list-group-item-action">Customers orders</a>
                <a asp-controller="Home" asp-action="MyArchive" asp-area="" class="list-group-item list-group-item-action">Archive</a>
            </nav>
        </div>
        <div class="d-flex flex-column col-8 gap-3">
            <h3>Public profile</h3>
            <div class="card">
                <form class="card-body d-flex flex-row justify-content-between gap-1" asp-controller="Auth" asp-action="LogOut" method="post">
                    <h4>Sign out</h4>
                    <button type="submit" class="btn btn-danger">Sign out</button>
                </form>
            </div>
        </div>
    </div>
</section>